{{ define "main" }}
<h5 class="padding colortext">{{ .Title }}</h5>

<h6 class="padding colortext">Directors details</h6>

<table class="custom">
    <tbody>
        <!-- <tr>
            <td>ID</td>
            <td>{{ .Params.directorId}}</td>
        </tr> -->
        <tr>
            <td>Title</td>
            <td>{{ .Params.title}}</td>
        </tr>
        <tr>
            <td>Birth </td>
            <td>{{ .Params.birth}}</td>
        </tr>
            <td>Country of born</td>
            <td>{{ .Params.nationality}}</td>
        </tr>
        <tr>
            <td>Movies</td>
            <td>
                {{ range .Params.moviesId }}
                    {{ $t := $.Site.GetPage .}}
                    <a href="/movies/{{ .}}">{{ $t.Title }}</a>
                {{ end }}
            </td>
        </tr>
    </tbody>
</table>

<h6 class="padding colortext">Description</h6>
<div class="padding scrolltext">{{ .Content }}</div>


{{ end }}