{{ define "main" }}
<h5 class="padding colortext">{{ .Title }}</h5>

<h6 class="padding colortext">Movies details</h6>

<table class="custom">
    <tbody>
        <!-- <tr>
            <td>ID</td>
            <td>{{ .Params.movieId}}</td>
        </tr> -->
        <tr> 
            <td>Title</td>
            <td>{{ .Params.title}}</td>
        </tr>
        <tr>
            <td>Year </td>
            <td>{{ .Params.year}}</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>{{ .Params.language}}</td>
        </tr>
        <tr>
            <td>Country</td>
            <td>{{ .Params.country}}</td>
        </tr>
        <tr>
            <td>Budget </td>
            <td>{{ .Params.budget}}</td>
        </tr>
        <tr>
            <td>Actors </td>
            <td>
                {{ $t := $.Site.GetPage .Params.actorId}}
                <a href="/actors/{{ .Params.actorId}}/">{{ $t.Title }}</a>
            </td>
        </tr>
        <tr>
            <td>Director</td>
            <td>
                {{ $t := $.Site.GetPage .Params.directorId}}
                <a href="/directors/{{ .Params.directorId}}">{{ $t.Title }}</a>
            </td>
        </tr>
    </tbody>
</table>
<h6 class="padding colortext">Description</h6>
<div class="padding scrolltext">{{ .Content }}</div>
{{ end }}